x = 5;
x.add(2, 3);
println();

s = "ab";
s.upper();
println();

"hi,there".split(",");
println();

arr = (object){a = "hi", b = "there"};
arr.join("-");
println();

o = (object){a = 1, b = 2};
o.keys();
println();
