*.o
*.so
papagaio
tests/bench/*_c
tests/asm/out.bin
tests/asm/out.asm
tmp_*.txt
tests/tmp_*.txt
tmp/
/papagaio.js
/papagaio.wasm
/papagaio-obsidian
/examples/papagaio-obsidian/papagaio.js
/examples/papagaio-obsidian/papagaio.wasm
/examples/web/papagaio.js
/examples/web/papagaio.wasm